<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hallo! <br />
        Gehen wirs an?</h1>
        <p>Human Resource Development. Schön und gut. Aber wozu?</p>
      </header>
      <p>Unternehmen bestehen aus Menschen. Und geht es diesen Menschen gut, dann geht es dem Unternehmen gut. 
        Menschen wollen Klarheit, Transparenz und Fairness. All das erreichen Sie durch für alle klare, transparente und 
        faire Strukturen und Prozesse, zielgerichtete Maßnahmen, die Einbindung, Beteiligung und Stärkung Ihrer Mitarbeitenden
        sowie Reflexion, Feedback und eine entsprechende Fehlerkultur.</p>
      <ul class="actions">
        <li><a href="{{ 'ueber.html' | absolute_url }}" class="button big">Mehr über mich</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/MB19 m Kopie.jpg" alt="Milena Bekerle" />
    </span>
  </section>
