<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">
      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menü</h2>
          </header>
          <ul>
            <li><a href="{{ '/' | absolute_url }}">Home</a></li>
            <li><a href="{{ 'ueber.html' | absolute_url }}">Über mich</a></li>
            <li>
              <span class="opener">Kooperationen</span>
              <ul>
                <li><a href="https://research-team.at/" target="_blank">research team - arbeitspsychologische Beratung</a></li>
                <li><a href="https://de.eder.ch/" target="_blank">Wolfgang Eder Unternehmensentwicklung - Führungskräfteentwicklung</a></li>
                <li><a href="https://www.xing.com/profile/Karin_Wagner4/cv" target="_blank">DIS-AG Karin Wagner - Personalauswahl</a></li>
                <li><a href="https://www.f-personalagentur.com/" target="_blank">f-Personalagentur für Finanzwesen</a></li>
              </ul>
            </li>
            <li><a href="{{ 'impressum.html' | absolute_url }}">Rechtliches: AGBs und Datenschutz</a></li>
            <li><a href="mailto:milena@bekerle.com">Kontakt</a></li>
            <li>
              
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Aktuelles</h2>
          </header>
          <div class="mini-posts">
            <div>
              <div class="image"><img src="assets/images/IMG_20190128_153241_0.jpg" alt="" /></div>
              <p>Veranstaltungstipp:</p>
              Derzeit keine Veranstaltungen
            </div>
            
          </div>
          <!--
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
          -->
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Kontakt</h2>
          </header>
          <p>"Beim Reden kommen die Leute zusammen." Ich freue mich über den Austausch mit Ihnen.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li class="fa-phone">{{ site.phone }}</li>
            
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}</p>
        </footer>

    </div>
  </div>
